<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<h5 class="mb-3 text-gray-800">상품 등록</h5>
		</div>
		<form method="post" action="create" id="createProductForm">
			<div class="card shadow mb-4">
				<div class="card-body table-responsive">
					<table class="table table-bordered text-center"
						style="font-size: 0.75rem;">
						<tr>
							<th class="align-middle col-2" scope="col"
								style="background-color: #eeeeee">상품 품번</th>
							<td class="col-auto" scope="col">
								<div class="input-group input-group-sm">
									<input class="form-control input-sm" type="text" name="pid"
										style="font-size: 0.75rem;" placeholder="상품 코드를 입력하세요." />
								</div>
							</td>
							<th class="align-middle col-2" scope="col"
								style="background-color: #eeeeee">브랜드</th>
							<td scope="col">
								<div class="input-group input-group-sm">
									<select class="custom-select mr-sm-2" id="brandSelect"
										style="font-size: 0.75rem;">
										<option value="" selected>브랜드를 선택하세요.</option>
										<option th:each="brand : ${brands}" th:value="${brand.bno}"
											th:text="${brand.bname}"></option>
									</select> <input type="hidden" name="bno" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="align-middle" style="background-color: #eeeeee">상품
								가격</th>
							<td>
								<div class="input-group input-group-sm">
									<input class="form-control input-sm" type="text" name="pprice"
										style="font-size: 0.75rem;" placeholder="상품 가격을 입력하세요." />
								</div>
							</td>
							<th class="align-middle" style="background-color: #eeeeee">시즌
								정보</th>
							<td>
								<div class="input-group input-group-sm">
									<select class="custom-select mr-sm-2" id="seasonSelect"
										style="font-size: 0.75rem;">
										<option value="" selected>시즌정보를 선택하세요.</option>
										<option th:value="SS">SS</option>
										<option th:value="FW">FW</option>
									</select> <input type="hidden" name="pseason" />
								</div>
							</td>
						</tr>
						<tr>
							<th class="align-middle" style="background-color: #eeeeee">상품명</th>
							<td colspan="3">
								<div class="input-group input-group-sm">
									<input class="form-control input-sm" type="text" name="pname"
										style="font-size: 0.75rem;" placeholder="상품명을 입력하세요." />
								</div>
							</td>
						</tr>
						<tr>
							<th class="align-middle" style="background-color: #eeeeee">카테고리</th>
							<td colspan="3">
								<div class="d-flex">
									<div class="col-auto my-1">
										<label class="mr-sm-2" for="">대분류</label> <select
											class="custom-select mr-sm-2" id="clargeSelect"
											onchange="clargeChange(this)" name="clarge"
											style="font-size: 0.75rem;">
											<option value="" selected>선택하세요</option>
											<option th:each="clarge : ${category}"
												th:value="${clarge.clarge}" th:text="${clarge.clarge}"></option>
										</select>
									</div>
									<div class="col-auto my-1">
										<label class="mr-sm-2" for="inlineFormCustomSelect">중분류</label>
										<select class="custom-select mr-sm-2" id="cmediumSelect"
											onchange="cmediumChange(this)" name="cmedium"
											style="font-size: 0.75rem;">
											<option value="" selected>선택하세요</option>
										</select>
									</div>
									<div class="col-auto my-1">
										<label class="mr-sm-2" for="csmallSelect">소분류</label> <select
											class="custom-select mr-sm-2" id="csmallSelect" name="csmall"
											style="font-size: 0.75rem;">
											<option value="" selected>선택하세요</option>
										</select>
									</div>
								</div> <script th:inline="javascript">
								let category;
							
								function clargeChange(e){
									let clarge = e.value;
									$('#cmediumSelect').children('option:not(:first)').remove();
									$('#csmallSelect').children('option:not(:first)').remove();
									
									if (category != null) {
										for(let i=0; i<category.length; i++){
											if(clarge === category[i].clarge){
												for(x in category[i].cmedium){
													$('<option/>', {
														'text' : category[i].cmedium[x].cmedium,
														'value' : category[i].cmedium[x].cmedium
													}).appendTo('#cmediumSelect');
												}
											}
										}
									}
								}
								
								function cmediumChange(e){
									let clarge = $('#clargeSelect option:selected').val();
									let cmedium = e.value;
									$('#csmallSelect').children('option:not(:first)').remove();
									
									if(category!=null){
										for(let i=0; i<category.length; i++){
											if(clarge===category[i].clarge){
												for(x in category[i].cmedium){
													if(cmedium ===category[i].cmedium[x].cmedium){
														for(y in category[i].cmedium[x].csmall){
															$('<option/>', {
																'text' : category[i].cmedium[x].csmall[y],
																'value' : category[i].cmedium[x].csmall[y]
															}).appendTo('#csmallSelect');
														}
													}
												}
											}
										}
									}
									
								}
								
								$.ajax({
									url: "http://kosa1.iptime.org:50507/product/category",
									method: "get",
								}).done((data) => {
									category = data["category"];
									console.log(category);
								});
							</script>
							</td>
						</tr>
						<tr>
							<th class="align-middle" style="background-color: #eeeeee">상세
								설명</th>
							<td colspan="3"><textarea class="form-control"
									style="font-size: 0.75rem;" aria-label="With textarea"
									name="pdetail" placeholder="상세 설명을 입력하세요."></textarea></td>
						</tr>
					</table>
					<div class="d-flex justify-content-end mt-2 mb-5">
						<div class="btn btn-dark btn-sm mr-2" style="font-size: 0.75rem;"
							onclick="addColorSize()">색상 추가</div>
						<div class="btn btn-outline-dark btn-sm"
							style="font-size: 0.75rem;" onclick="deleteColorSize()">색상
							삭제</div>
					</div>
					<div id="colortables">
						<!-- 반복되는 부분  -->
						<div id="colortable0">
							<table class="table table-bordered text-center"
								style="font-size: 0.75rem;">
								<tr>
									<th style="background-color: #eeeeee" class="col-1" scope="col">색상
										코드</th>
									<th style="background-color: #eeeeee" scope="col">이미지1</th>
									<th style="background-color: #eeeeee" scope="col">이미지2</th>
									<th style="background-color: #eeeeee" scope="col">이미지3</th>
									<th style="background-color: #eeeeee" scope="col">컬러 이미지</th>
									<th style="background-color: #eeeeee" scope="col">코디한 상품</th>
									<th style="background-color: #eeeeee" class="col-1" scope="col">사이즈</th>
									<th style="background-color: #eeeeee" class="col-1" scope="col">재고</th>
								</tr>
								<tbody id="tbody0">
									<tr id="color0_size1">
										<td class="colorTd0 align-middle">
											<div class="input-group input-group-sm">
												<input class="form-control input-sm" type="text"
													style="font-size: 0.75rem;" th:name="colors[0].ccolorcode" />
											</div>
										</td>
										<td class="colorTd0 align-middle">
											<img style="width: 100px;" id="c1image0"/>
											<div class="d-flex input-group input-group-sm pa-0">
												<input class="form-control input-sm" type="text" id="cimage1Input0"
													style="font-size: 0.75rem;" th:name="colors[0].cimage1" />
												<a class="btn btn-dark btn-sm" onclick="updateCimage1(0)" style="font-size: 0.75rem;">적용</a>
											</div>
										</td>
										<td class="colorTd0 align-middle">
											<img style="width: 100px;" id="c2image0"/>
											<div class="d-flex input-group input-group-sm pa-0">
												<input class="form-control input-sm" type="text" id="cimage2Input0"
													style="font-size: 0.75rem;" name="colors[0].cimage2" /> <a
													class="btn btn-dark btn-sm" onclick="updateCimage2(0)" style="font-size: 0.75rem;">적용</a>
											</div>
										</td>
										<td class="colorTd0 align-middle">
											<img style="width: 100px;" id="c3image0"/>
											<div class="d-flex input-group input-group-sm pa-0">
												<input class="form-control input-sm" type="text" id="cimage3Input0"
													style="font-size: 0.75rem;" name="colors[0].cimage3" /> <a
													class="btn btn-dark btn-sm"  onclick="updateCimage3(0)"style="font-size: 0.75rem;">적용</a>
											</div>
										</td>
										<td class="colorTd0 align-middle">
											<img style="width: 30px" id="colorimage0"/>
											<div class="d-flex input-group input-group-sm pa-0">
												<input class="form-control input-sm" type="text" id="colorimageInput0"
													style="font-size: 0.75rem;" name="colors[0].ccolorimage" />
												<a class="btn btn-dark btn-sm" onclick="updateColorimage(0)" style="font-size: 0.75rem;">적용</a>
											</div>
										</td>
										<td class="colorTd0 align-middle">
											<div class="d-flex input-group input-group-sm pa-0">
												<input class="form-control input-sm" type="text"
													style="font-size: 0.75rem;" name="colors[0].cmatchpid" />
											</div>
										</td>
										<td class="align-middle">
											<div class="input-group input-group-sm">
												<input class="form-control input-sm" type="text"
													style="font-size: 0.75rem;"
													name="colors[0].stocks[0].ssize" />
											</div>
										</td>
										<td class="align-middle">
											<div class="input-group input-group-sm">
												<input class="form-control input-sm" type="text"
													style="font-size: 0.75rem;"
													name="colors[0].stocks[0].samount" />
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="d-flex justify-content-end mt-3 mb-4">
								<div class="btn btn-dark btn-sm mr-2"
									style="font-size: 0.75rem;" onclick="addSizeTable(0)">사이즈
									추가</div>
								<div class="btn btn-outline-dark btn-sm"
									style="font-size: 0.75rem;" onclick="deleteSizeTable(0)">사이즈
									삭제</div>
							</div>
						</div>
					</div>
					<script th:inline="javascript">
					let colortableidx = 0;
					
					function updateCimage1(idx){
						var inputid = "#cimage1Input"+idx;
						var cimageid = "#c1image" +idx;
						var input = $(inputid).val();
						$(cimageid).attr("src", input);
					}
					function updateCimage2(idx){
						var inputid = "#cimage2Input"+idx;
						var cimageid = "#c2image" +idx;
						var input = $(inputid).val();
						$(cimageid).attr("src", input);
					}
					function updateCimage3(idx){
						var inputid = "#cimage3Input"+idx;
						var cimageid = "#c3image" +idx;
						var input = $(inputid).val();
						$(cimageid).attr("src", input);
					}
					function updateColorimage(idx){
						var inputid = "#colorimageInput"+idx;
						var cimageid = "#colorimage" +idx;
						var input = $(inputid).val();
						$(cimageid).attr("src", input);
					}
					//색상 추가
					function addColorSize() {
						colortableidx++;
						rownum.push(1);
						
						let template = `<div id="colortable${colortableidx}">
							<table class="table table-bordered text-center"
							style="font-size: 0.75rem;">
							<tr>
								<th style="background-color: #eeeeee" class="col-1" scope="col">색상 코드</th>
								<th style="background-color: #eeeeee" scope="col">이미지1</th>
								<th style="background-color: #eeeeee" scope="col">이미지2</th>
								<th style="background-color: #eeeeee" scope="col">이미지3</th>
								<th style="background-color: #eeeeee" scope="col">컬러 이미지</th>
								<th style="background-color: #eeeeee" scope="col">코디한 상품</th>
								<th style="background-color: #eeeeee" class="col-1" scope="col">사이즈</th>
								<th style="background-color: #eeeeee" class="col-1" scope="col">재고</th>
							</tr>
							<tbody id="tbody${colortableidx}">
								<tr id="color${colortableidx}_size${rownum[colortableidx]}">
									<td class="colorTd${colortableidx} align-middle">
										<div class="input-group input-group-sm">
											<input class="form-control input-sm" type="text" name="colors[${colortableidx}].ccolorcode" style="font-size: 0.75rem;"/>
										</div>
									</td>
									<td class="colorTd${colortableidx} align-middle">
										<img style="width: 100px;" id="c1image${colortableidx}"/>	
										<div class="d-flex input-group input-group-sm pa-0">
											<input class="form-control input-sm" type="text" id="cimage1Input${colortableidx}" name="colors[${colortableidx}].cimage1" style="font-size: 0.75rem;"/>
											<a class="btn btn-dark btn-sm" onclick="updateCimage1(${colortableidx})" style="font-size: 0.75rem;">적용</a>
										</div>
									</td>
									<td class="colorTd${colortableidx} align-middle">
										<img style="width: 100px;" id="c2image${colortableidx}"/>	
										<div class="d-flex input-group input-group-sm pa-0">
											<input class="form-control input-sm" type="text" id="cimage2Input${colortableidx}" name="colors[${colortableidx}].cimage2" style="font-size: 0.75rem;"/>
											<a class="btn btn-dark btn-sm" onclick="updateCimage2(${colortableidx})" style="font-size: 0.75rem;">적용</a>
										</div>
									</td>
									<td class="colorTd${colortableidx} align-middle">
										<img style="width: 100px;" id="c3image${colortableidx}"/>	
										<div class="d-flex input-group input-group-sm pa-0">
											<input class="form-control input-sm" type="text" id="cimage3Input${colortableidx}" name="colors[${colortableidx}].cimage3" style="font-size: 0.75rem;"/>
											<a class="btn btn-dark btn-sm" onclick="updateCimage3(${colortableidx})" style="font-size: 0.75rem;">적용</a>
										</div>
									</td>
									<td class="colorTd${colortableidx} align-middle">
										<img style="width: 30px;" id="colorimage${colortableidx}"/>	
										<div class="d-flex input-group input-group-sm pa-0">
											<input class="form-control input-sm" type="text" id="colorimageInput${colortableidx}" name="colors[${colortableidx}].ccolorimage" style="font-size: 0.75rem;"/>
											<a class="btn btn-dark btn-sm" onclick="updateColorimage(${colortableidx})" style="font-size: 0.75rem;">적용</a>
										</div>
									</td>
									<td class="colorTd${colortableidx} align-middle">
										<div class="d-flex input-group input-group-sm pa-0">
											<input class="form-control input-sm" type="text" name="colors[${colortableidx}].cmatchpid" style="font-size: 0.75rem;"/>
										</div>
									</td>
									<td class="align-middle">
										<div class="input-group input-group-sm">
											<input class="form-control input-sm" type="text" name="colors[${colortableidx}].stocks[${rownum[colortableidx]-1}].ssize" style="font-size: 0.75rem;"/>
										</div>
									</td>
									<td class="align-middle"s>
										<div class="input-group input-group-sm">
											<input class="form-control input-sm" type="text" name="colors[${colortableidx}].stocks[${rownum[colortableidx]-1}].samount" style="font-size: 0.75rem;"/>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="d-flex justify-content-end mt-3 mb-4">
							<div class="btn btn-dark btn-sm mr-2" onclick="addSizeTable(${colortableidx})" style="font-size: 0.75rem;">사이즈 추가</div>
							<div class="btn btn-outline-dark btn-sm"
								onclick="deleteSizeTable(${colortableidx})" style="font-size: 0.75rem;">사이즈 삭제</div>
						</div>
						</div>`;
						$('#colortables').append(template);

					}
					function deleteColorSize() {
						var removeItem = '#colortable' + colortableidx;

						if (colortableidx > 0) {
							$(removeItem).remove();
							colortableidx--;
						}
					}

					let rownum = [ 1 ];

					function addSizeTable(coloridx) {
						rownum[coloridx] += 1;

						let template = `<tr id="color${coloridx}_size${rownum[coloridx]}">
						<td>
						<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text" name="colors[${coloridx}].stocks[${rownum[coloridx]-1}].ssize" style="font-size: 0.75rem;"/>
							</div>
						</td>
						<td>
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text" name="colors[${coloridx}].stocks[${rownum[coloridx]-1}].samount" style="font-size: 0.75rem;"/>
							</div>
						</td>
						</tr>`;

						for (let i = 0; i < 6; i++) {
							$(`.colorTd${coloridx}`).eq(i).attr("rowspan",
									rownum[coloridx]);
						}
						$(`#tbody${coloridx}`).append(template);
					}

					function deleteSizeTable(coloridx) {
						if (rownum[coloridx] > 1) {
							let temp = `#color${coloridx}_size${rownum[coloridx]}`;
							$(temp).remove();
							rownum[coloridx]--;

							for (let i = 0; i < 6; i++) {
								$(`.colorTd${coloridx}`).eq(i).attr("rowspan",
										rownum[coloridx]);
							}
						}
					}
				</script>
					<div class="d-flex justify-content-center mt-3 mb-4">
						<a class="btn btn-outline-primary btn-sm mr-2" th:href="@{/}" style="font-size: 0.75rem;">취소</a>
						<button class="btn btn-primary btn-sm" onclick="createProduct()" style="font-size: 0.75rem;">저장</button>
					</div>
					<script th:inline="javascript">
					function createProduct() {
						$('input[name=bno]').val(
								$('#brandSelect option:selected').val());
						$('input[name=pseason]').val(
								$('#seasonSelect option:selected').val());
						$('#createProductForm').submit();
					}
				</script>
				</div>
			</div>
		</form>
	</th:block>
</th:block>
</html>