<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div>
				<h5 class="mb-3 text-gray-800">재고 검색</h5>
			</div>
			<div class="mb-4 p-4 rounded bg-gray-300 border border-dark">
				<form class="container">
					<div class="row">
						<label class="col-1 font-weight-bolder">검색</label>
						<div class="col-11">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select class="custom-select" id="inputGroupSelect04"
										aria-label="Example select with button addon">
										<option selected>상품코드</option>
										<option value="1">브랜드</option>
										<option value="2">상품명</option>
									</select>
								</div>
								<input type="text" class="form-control"
									aria-label="Text input with segmented dropdown button">
							</div>
						</div>
						<div class="col-11"></div>
						<div class="col-1">
							<button class="btn text-white" style="background-color: #2D3134"
								type="submit">검색</button>
						</div>
					</div>
				</form>
			</div>
			<div>
				<h5 class="mb-3 text-gray-800">재고 목록</h5>
			</div>
			<div class="card-body shadow mb-4" style="font-size: 0.75rem">
				<div class="table-responsive">
					<table class="table table-hover table-bordered mb-0 text-center">
						<thead>
							<tr class="text-center font-weight-bolder">
								<th>브랜드</th>
								<th>상품코드</th>
								<th>상품명</th>
								<th>사이즈</th>
								<th>재고</th>
								<th>판매량</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td class="align-middle">brand</td>
								<td class="align-middle">pid</td>
								<td class="align-middle">pname</td>
								<td class="align-middle">psize</td>
								<td class="align-middle">
									<div class="input-group input-group-sm">
										<input type="text"
											class="form-control d-inline-block input-sm"> <a
											class="btn btn-sm btn-secondary">변경</a>
									</div>
								</td>
								<td class="align-middle">50</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

</html>
