<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<h5 class="mb-3 text-gray-800">상품 검색</h5>
		</div>
		<!-- 상품 검색 -->
		<div class="card shadow mb-4">
			<div class="card-body table-responsive" style="padding-top: 0px; padding-bottom: 0px;">
				<table class="table table-borderless">
					<tr>
						<td class="col-2">검색</td>
						<td class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary dropdown-toggle"
									type="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">검색 분류</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">상품코드</a> <a
										class="dropdown-item" href="#">상품명</a>
								</div>
							</div> <input type="text" class="form-control"
							aria-label="Text input with dropdown button">
						</td>
					</tr>
					<tr>
						<td scope="row">카테고리</td>
						<td class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary dropdown-toggle"
									type="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">대분류</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">상품코드</a> <a
										class="dropdown-item" href="#">상품명</a>
								</div>
							</div>
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary dropdown-toggle"
									type="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">중분류</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">상품코드</a> <a
										class="dropdown-item" href="#">상품명</a>
								</div>
							</div>
							<div class="input-group-prepend">
								<button class="btn btn-outline-primary dropdown-toggle"
									type="button" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">소분류</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">상품코드</a> <a
										class="dropdown-item" href="#">상품명</a>
								</div>
							</div>
						</td>
					</tr>
				</table>
				<div class="btn btn-primary mb-1">검색</div>
			</div>
		</div>
		<!-- 상품 목록 -->
		<div>
			<h5 class="mb-3 text-gray-800">상품 목록</h5>
		</div>
		<div class="card shadow mb-4">
			<div class="table-responsive">
			<script>
			$(document).ready(function() {
				  $('#dataTable').DataTable();
				});
			</script>
				<table class="table table-bordered mb-0 text-center" id="dataTable" style="font-size:14px;">
					<thead>
						<tr>
							<th class="col-1">상품 번호</th>
							<th>대분류</th>
							<th>중분류</th>
							<th>소분류</th>
							<th class="col-2">브랜드</th>
							<th class="col-2">상품 코드</th>
							<th class="col-3">상품명</th>
							<th class="col-2">상품 가격</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}">
							<td>[[${product.pno}]]</td>
							<td>[[${product.clarge}]]</td>
							<td>[[${product.cmedium}]]</td>
							<td>[[${product.csmall}]]</td>
							<td>[[${product.bname}]]</td>
							<td>[[${product.pid}]]</td>
							<td>[[${product.pname}]]</td>
							<td>[[${#numbers.formatInteger(product.pprice, 3, 'COMMA')}]]원</td>
						</tr>
						
						<tr>
							<td colspan="8">
							  <ul class="pagination justify-content-center mb-1 mt-1">
							  	<li class="page-item">
							  		<a class="page-link" th:href="@{/product/list(pageNo=1)}">처음</a>
							  	</li>
							    <li class="page-item" th:if="${pager.groupNo>1}">
							      <a th:href="@{/product/list(pageNo=${pager.startPageNo-1})}" class="page-link">이전</a>
							    </li>
							    <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
							    	<li class="page-item">
										<a th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'" th:href="@{/product/list(pageNo=${i})}">[[${i}]]</a>
									</li>
								</th:block>
							    <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}">
							      <a th:href="@{/product/list(pageNo=${pager.endPageNo+1})}" class="page-link">이후</a>
							    </li>
							  	<li class="page-item">
							  		<a class="page-link" th:href="@{/product/list(pageNo=${pager.totalPageNo})}">마지막</a>
							  	</li>
							  </ul>
							</td>	
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
</th:block>
</html>