<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div>
				<h5 class="mb-3 text-gray-800">재고 검색</h5>
			</div>
			<div class="card shadow mb-4">
				<div class="card-body table-responsive">
					<form name="search-form" id="search-form" action="search"
						autocomplete="off">
						<table class="table table-bordered mt-2"
							style="font-size: 0.75rem;">
							<tr class="table-borderless">
								<td class="col-2 text-center align-middle"
									style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">검색</td>
								<td class="input-group text-center">
									<div class="input-group-prepend">
										<select class="form-control form-control-sm"
											style="font-size: 0.75rem;" id="inputGroupSelect04"
											aria-label="Example select with button addon">
											<option selected>상품코드</option>
											<option value="1">브랜드</option>
											<option value="2">상품명</option>
										</select>
									</div> <input type="text" name="keyword" style="font-size: 0.75rem;"
									class="form-control form-control-sm"
									th:value="${keyword != null}? ${keyword}:''" />
								</td>
							</tr>
						</table>
						<div class="d-flex justify-content-center">
							<button class="btn btn-sm text-white mb-2"
								style="background-color: #2D3134; font-size: 0.75rem;"
								type="submit">검색</button>
						</div>
					</form>
				</div>
			</div>
			<div>
				<h5 class="mb-3 text-gray-800">재고 목록</h5>
			</div>
			<div class="card shadow mb-4" style="font-size: 0.75rem;">
				<div class="card-body table-responsive">
					<table
						class="table table-hover table-bordered mb-0 text-center text-truncate"
						style="background-color: white">
						<thead>
							<tr class="text-center font-weight-bolder">
								<th style="background-color: #eeeeee" class="col-2">브랜드</th>
								<th style="background-color: #eeeeee" class="col-2">상품코드</th>
								<th style="background-color: #eeeeee" class="col-2">상품명</th>
								<th style="background-color: #eeeeee" class="col-1">사이즈</th>
								<th style="background-color: #eeeeee" class="col-1">색상</th>
								<th style="background-color: #eeeeee" class="col-2">재고</th>
								<th style="background-color: #eeeeee" class="col-2">판매량</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="stock, status: ${stocks}" class="text-center">
								<form th:id="|stockForm${status.index}|"
									action="/product/stock/update" method="post">
									<input type="hidden" name="pid" th:value="${stock.pid}">
									<input type="hidden" name="ccolorcode"
										th:value="${stock.ccolorcode}"> <input type="hidden"
										name="ssize" th:value="${stock.ssize}">
									<td class="align-middle">[[${stock.bname}]]</td>
									<td class="align-middle">[[${stock.pid}]]</td>
									<td class="align-middle">[[${stock.pname}]]</td>
									<td class="align-middle">[[${stock.ssize}]]</td>
									<td class="align-middle">[[${stock.ccolorcode}]]</td>
									<td class="align-middle">
										<div class="input-group input-group-sm">
											<input type="text" name="samount" th:value="${stock.samount}"
												class="form-control d-inline-block input-sm"
												style="font-size: 0.75rem;">
											<button class="btn btn-sm btn-secondary"
												style="font-size: 0.75rem;">변경</button>
										</div>
									</td>
									<td class="align-middle">[[${stock.stotalamount}]]</td>
								</form>
							</tr>
						</tbody>
					</table>

					<nav aria-label="Page navigation example" class="mt-4">
						<ul class="pagination justify-content-center align-items-center">
							<li class="page-item"><a th:href="@{/product/stock/list/1}"
								style="font-size: 0.75rem;" class="page-link">처음</a></li>

							<th:block
								th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
								<li class="page-item"><a style="font-size: 0.75rem;"
									th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'"
									th:href="@{/product/stock/list/{pageNo}(pageNo=${i})}">[[${i}]]</a></li>
							</th:block>

							<li class="page-item"><a class="page-link"
								style="font-size: 0.75rem;"
								th:href="@{/product/stock/list/{pageNo}(pageNo=${pager.totalPageNo})}">마지막</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

</html>
