<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<h5 class="mb-3 text-gray-800">상품 검색</h5>
		</div>
		<!-- 상품 검색 -->
		<div class="card shadow mb-4">
			<div class="card-body table-responsive">
				<form name="search-form" id="search-form" action="search"
					autocomplete="off">
					<table class="table table-bordered mt-2"
						style="font-size: 0.75rem;">
						<tr class="table-borderless">
							<td class="col-2 text-center align-middle"
								style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">검색</td>
							<td class="input-group text-center">
								<div class="input-group-prepend">
									<th:block th:if="${#strings.isEmpty(type)}">
										<select class="form-control form-control-sm" name="type"
											style="font-size: 0.75rem;">
											<option value="" selected>검색 분류</option>
											<option value="pname">상품명</option>
											<option value="pid">상품 코드</option>
											<option value="bname">브랜드</option>
										</select>
									</th:block>

									<th:block th:if="${not #strings.isEmpty(type)}">
										<select class="form-control form-control-sm" name="type"
											style="font-size: 0.75rem;">
											<option value="">검색 분류</option>
											<option value="pname" th:selected="${type}=='pname'">상품명</option>
											<option value="pid" th:selected="${type}=='pid'">상품
												코드</option>
											<option value="bname" th:selected="${type}=='bname'">브랜드</option>
										</select>
									</th:block>
								</div> <input type="text" name="keyword" style="font-size: 0.75rem;"
								class="form-control form-control-sm"
								th:value="${keyword != null}? ${keyword}:''" />
							</td>
						</tr>
						<tr class="table-borderless">
							<td class=" text-center align-middle"
								style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">카테고리</td>
							<td class="input-group input-group-sm text-center align-middle">
								<!-- 검색시 검색 카테고리에 선택하게 하기 위함  --> <input type="hidden"
								id="originClarge" th:value="${cl}" /> <input type="hidden"
								id="originCmedium" th:value="${cm}" /> <input type="hidden"
								id="originCsmall" th:value="${cs}" /> <!-- 끝 -->
								<div class="input-group input-group-sm">
									<th:block th:if="${#strings.isEmpty(cl)}">
										<select class="custom-select" id="clargeSelect"
											style="font-size: 0.75rem;"
											onchange="clargeChange(this.value)" name="clarge">
											<option value="" selected>대분류</option>
											<option th:each="clarge : ${categoryList}"
												th:value="${clarge.clarge}" th:text="${clarge.clarge}"></option>
										</select>
									</th:block>
									<th:block th:if="${not #strings.isEmpty(cl)}">
										<select class="custom-select" id="clargeSelect"
											style="font-size: 0.75rem;"
											onchange="clargeChange(this.value)" name="clarge">
											<option value="">대분류</option>
											<option th:selected="${cl}==${clarge.clarge}"
												th:each="clarge : ${categoryList}"
												th:value="${clarge.clarge}" th:text="${clarge.clarge}"></option>
										</select>
									</th:block>

									<th:block th:if="${#strings.isEmpty(cm)}">
										<select class="custom-select" id="cmediumSelect"
											style="font-size: 0.75rem;"
											onchange="cmediumChange(this.value)">
											<option value="" selected>중분류</option>
										</select>
									</th:block>
									<th:block th:if="${not #strings.isEmpty(cm)}">
										<select class="custom-select" id="cmediumSelect"
											style="font-size: 0.75rem;" th:field="${cm}"
											onchange="cmediumChange(this.value)">
											<option value="">중분류</option>
										</select>
									</th:block>

									<th:block th:if="${#strings.isEmpty(cs)}">
										<select class="custom-select" id="csmallSelect"
											style="font-size: 0.75rem;">
											<option value="" selected>소분류</option>
										</select>
									</th:block>
									<th:block th:if="${not #strings.isEmpty(cs)}">
										<select class="custom-select" id="csmallSelect"
											style="font-size: 0.75rem;" th:field="${cs}">
											<option value="" selected>소분류</option>
										</select>
									</th:block>
									<input type="hidden" name="cmedium" /> <input type="hidden"
										name="csmall" />
								</div> <script th:inline="javascript">
									let category;
									$(document).ready(function(){
										$.ajax({
											url: "http://localhost:82/admin/product/category",
											method: "get",
										}).done((data) => {
											category = data["category"];
											
											let clarge = $('#originClarge').val();
											let cmedium = $('#originCmedium').val();
											let csmall = $('#originCsmall').val();
											console.log(clarge, cmedium, csmall);
											clargeChange(clarge);
											$('#cmediumSelect').val(cmedium);
											
											cmediumChange(cmedium);
											$('#csmallSelect').val(csmall);
										});
									})
									
									function clargeChange(e){
										let clarge = e;
										$('#cmediumSelect').children('option:not(:first)').remove();
										$('#csmallSelect').children('option:not(:first)').remove();
										
										if (category != null) {
											for(let i=0; i<category.length; i++){
												if(clarge === category[i].clarge){
													for(x in category[i].cmedium){
														$('<option/>', {
															'text' : category[i].cmedium[x].cmedium,
															'value' : category[i].cmedium[x].cmedium
														}).appendTo('#cmediumSelect');
													}
												}
											}
										}
									}
									
									function cmediumChange(e){
										let clarge = $('#clargeSelect option:selected').val();
										let cmedium = e;
										$('#csmallSelect').children('option:not(:first)').remove();
										
										if(category!=null){
											for(let i=0; i<category.length; i++){
												if(clarge===category[i].clarge){
													for(x in category[i].cmedium){
														if(cmedium ===category[i].cmedium[x].cmedium){
															for(y in category[i].cmedium[x].csmall){
																$('<option/>', {
																	'text' : category[i].cmedium[x].csmall[y],
																	'value' : category[i].cmedium[x].csmall[y]
																}).appendTo('#csmallSelect');
															}
														}
													}
												}
											}
										}
										
									}
								</script>
							</td>
						</tr>
					</table>
					<div class="d-flex justify-content-center">
						<button class="btn btn-sm text-white mb-2"
							style="background-color: #2D3134; font-size: 0.75rem;"
							onclick="getSearchList()">검색</button>
					</div>
					<script th:inline="javascript">
						function getSearchList(){
							$('input[name=cmedium]').val($('#cmediumSelect option:selected').val());
							$('input[name=csmall]').val($('#csmallSelect option:selected').val());
							console.log($('#cmediumSelect option:selected').val());
							console.log($('#csmallSelect option:selected').val());
						}
					</script>
				</form>
				<script th:inline="javascript">
					function getSearchList() {
						$('#search-form').submit();
					}
				</script>
			</div>
		</div>
		<!-- 상품 목록 -->
		<div>
			<h5 class="mb-3 text-gray-800">상품 목록</h5>
		</div>
		<div class="card shadow mb-4">
			<div class="card-body table-responsive">
				<table class="table table-hover table-bordered mb-0 text-center"
					id="producttable"
					style="font-size: 0.75rem; background-color: white;">
					<thead>
						<tr>
							<th style="background-color: #eeeeee;" class="col-1">품번</th>
							<th style="background-color: #eeeeee;" class="col-1">대분류</th>
							<th style="background-color: #eeeeee;" class="col-1">중분류</th>
							<th style="background-color: #eeeeee;" class="col-1">소분류</th>
							<th style="background-color: #eeeeee;" class="col-2">브랜드</th>
							<th style="background-color: #eeeeee;" class="col-2">상품 코드</th>
							<th style="background-color: #eeeeee;" class="col-2">상품명</th>
							<th style="background-color: #eeeeee;" class="col-2">상품 가격</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}"
							th:onclick="'location.href=\'' + @{/admin/product/detail(pid=${product.pid})} + '\''">
							<td class="text-truncate col-1">[[${product.pno}]]</td>
							<td class="text-truncate col-1">[[${product.clarge}]]</td>
							<td class="text-truncate col-1">[[${product.cmedium}]]</td>
							<td class="text-truncate col-1">[[${product.csmall}]]</td>
							<td class="text-truncate col-2">[[${product.bname}]]</td>
							<td class="text-truncate col-2">[[${product.pid}]]</td>
							<td class="text-truncate col-2">[[${product.pname}]]</td>
							<td class="text-truncate col-2">[[${#numbers.formatInteger(product.pprice,
								3, 'COMMA')}]]원</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination justify-content-center mb-1 mt-3">
					<th:block
						th:if="${#strings.isEmpty(keyword)} and ${#strings.isEmpty(cl)}">
						<li class="page-item"><a class="page-link"
							style="font-size: 0.75rem;" th:href="@{/admin/product/list(pageNo=1)}">처음</a></li>
						<li class="page-item" th:if="${pager.groupNo>1}"><a
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/list(pageNo=${pager.startPageNo-1})}"
							class="page-link">이전</a></li>
						<th:block
							th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
							<li class="page-item"><a style="font-size: 0.75rem;"
								th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'"
								th:href="@{/admin/product/list(pageNo=${i})}">[[${i}]]</a></li>
						</th:block>
						<li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}"><a
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/list(pageNo=${pager.endPageNo+1})}"
							class="page-link">이후</a></li>
						<li class="page-item"><a class="page-link"
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/list(pageNo=${pager.totalPageNo})}">마지막</a></li>
					</th:block>

					<th:block
						th:if="${not #strings.isEmpty(keyword)} or ${not #strings.isEmpty(cl)}">
						<li class="page-item"><a class="page-link"
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/search(type=${type},keyword=${keyword},pageNo=1,clarge=${cl},cmedium=${cm},csmall=${cs})}">처음</a>
						</li>
						<li class="page-item" th:if="${pager.groupNo>1}"><a
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/search(type=${type},keyword=${keyword},pageNo=${pager.startPageNo-1},clarge=${cl},cmedium=${cm},csmall=${cs})}"
							class="page-link">이전</a></li>
						<th:block
							th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
							<li class="page-item"><a style="font-size: 0.75rem;"
								th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'"
								th:href="@{/admin/product/search(type=${type},keyword=${keyword},pageNo=${i},clarge=${cl},cmedium=${cm},csmall=${cs})}">[[${i}]]</a>
							</li>
						</th:block>
						<li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}"><a
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/search(type=${type},keyword=${keyword}, pageNo=${pager.endPageNo+1},clarge=${cl},cmedium=${cm},csmall=${cs})}"
							class="page-link">이후</a></li>
						<li class="page-item"><a class="page-link"
							style="font-size: 0.75rem;"
							th:href="@{/admin/product/search(type=${type},keyword=${keyword}, pageNo=${pager.totalPageNo},clarge=${cl},cmedium=${cm},csmall=${cs})}">마지막</a>
						</li>
					</th:block>
				</ul>
			</div>
		</div>
	</th:block>
</th:block>
</html>