<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div>
				<h5 class="text-gray-800">리뷰 정보</h5>
			</div>
			<div class="card shadow mb-4" style="font-size: 0.75rem">
				<div class="card-body table-responsive">
					<table class="table table-bordered">
						<tr>
							<th class="col-2 text-center align-middle" scope="col"
								style="background-color: #eeeeee">번호</th>
							<td class="col-4" scope="col">[[${review.rno}]]</td>
							<th class="col-2 text-center align-middle" scope="col"
								style="background-color: #eeeeee">등록날짜</th>
							<td class="col-4" scope="col">[[${#dates.format(review.rdate,'yyyy.MM.dd
								hh:mm:ss')}]]</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">사용자 ID</th>
							<td>[[${review.mid}]]</td>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">사용자명</th>
							<td>[[${review.mname}]]</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">품번</th>
							<td>[[${review.pid}]]</td>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">상품명</th>
							<td>[[${review.pname}]], [[${review.pcolor}]],
								[[${review.psize}]]</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">평점</th>
							<td colspan="3">[[${review.rrate}]] / 5</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">제목</th>
							<td colspan="3">[[${review.rtitle}]]</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">내용</th>
							<td colspan="3">[[${review.rcontent}]]</td>
						</tr>
						<tr>
							<th class=" text-center align-middle"
								style="background-color: #eeeeee">답변</th>
							<td id="review-answer" colspan="3">[[${review.ranswer}]]</td>
						</tr>
					</table>
					<div th:if="${review.ranswer} == null">
						<a th:href="@{/admin/product/review}" class="btn btn-sm btn-dark mr-1"
							style="font-size: 0.7rem">리뷰 목록</a>
						<button class="btn btn-sm btn-dark" style="font-size: 0.7rem"
							th:onclick="changeAnswer()" id="writeAnswerButton">답변 작성</button>
					</div>
					<div th:if="${review.ranswer} != null">
						<a th:href="@{/admin/product/review}" class="btn btn-sm btn-dark mr-1"
							style="font-size: 0.7rem">리뷰 목록</a>
						<button class="btn btn-sm btn-dark" style="font-size: 0.7rem"
							th:onclick="changeAnswer()" id="writeAnswerButton">답변 수정</button>
					</div>
					<script>
						function changeAnswer() {
							let reviewAns = $("#review-answer")[0].innerHTML;
							let tmp = `<textarea class="form-control" style="font-size: 0.7rem" id="review-answer-form" rows="3">${reviewAns}</textarea>`;
							tmp += `<div class="mt-2">`;
							tmp += `<button class="btn btn-sm btn-dark mr-2" style="font-size: 0.7rem" onclick="updateAnswer()">저장</button>`;
							tmp += `<button class="btn btn-sm btn-dark" style="font-size: 0.7rem" onclick="cancelAnswer()">취소</button>`;
							tmp += `</div>`;
							$("#review-answer").html(tmp);
							$("#writeAnswerButton").attr("disabled", "true");
						}
						
						function cancelAnswer() {
							let tmp = `[[${review.ranswer}]]`;
							$("#review-answer").html(tmp);
							$("#writeAnswerButton").removeAttr("disabled");
						}
						
						function updateAnswer() {
							let params = {
								'rno' : [[${review.rno}]],
								'content' : $("#review-answer-form").val(),
							};

							let url = `answer/update`;

							let form = document.createElement('form');
							form.setAttribute('method', 'post');
							form.setAttribute('action', url);
							document.charset = "utf-8";

							for ( let key in params) {
								let hiddenField = document.createElement('input');
								hiddenField.setAttribute('type', 'hidden');
								hiddenField.setAttribute('name', key);
								hiddenField.setAttribute('value', params[key]);
								form.appendChild(hiddenField);
							}

							document.body.appendChild(form);
							form.submit();
						}
					</script>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>