<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<h5 class="mb-3 text-gray-800">상품 등록</h5>
		</div>
		<div class="card shadow mb-4">
			<table class="table table-bordered text-center" style="font-size: 14px;">
				<tr>
					<th class="col-2" scope="col">상품 품번</th>
					<td class="col-auto" scope="col">
						<div class="input-group input-group-sm">
							<input class="form-control input-sm" type="text"
								placeholder="상품 코드를 입력하세요."/>
						</div>
					</td>
					<th class="col-2" scope="col">브랜드</th>
					<td scope="col">
						<div class="input-group input-group-sm">
							<input class="form-control input-sm" type="text"
								placeholder="브랜드 이름을 입력하세요."/>
						</div>
					</td>
				</tr>
				<tr>
					<th>상품 가격</th>
					<td>
						<div class="input-group input-group-sm">
							<input class="form-control input-sm" type="text"
								placeholder="상품 가격을 입력하세요."/>
						</div>
					</td>
					<th>시즌 정보</th>
					<td>
						<div class="input-group input-group-sm">
							<input class="form-control input-sm" type="text"
								placeholder="시즌 정보를 입력하세요."/>
						</div>
					</td>
				</tr>
				<tr>
					<th>상품명</th>
					<td colspan="3">
						<div class="input-group input-group-sm">
							<input class="form-control input-sm" type="text"
								placeholder="상품명을 입력하세요."/>
						</div>
					</td>
				</tr>
				<tr>
					<th>카테고리</th>
					<td colspan="3">
						<div class="d-flex">
							<div class="col-auto my-1">
								<label class="mr-sm-2" for="">대분류</label>
								<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
									<option selected>선택하세요</option>
									<option value="women">WOMEN</option>
									<option value="men">MEN</option>
									<option value="bath">BATH</option>
									<option value="lifestyle">LIFESTYLE</option>
								</select>
							</div>
							<div class="col-auto my-1">
								<label class="mr-sm-2" for="inlineFormCustomSelect">중분류</label>
								<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
									<option selected>선택하세요</option>
									<option value="outer">Outer</option>
									<option value="cardigan">Cardigan/Vest</option>
								</select>
							</div>
							<div class="col-auto my-1">
								<label class="mr-sm-2" for="inlineFormCustomSelect">소분류</label>
								<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
									<option selected>선택하세요</option>
								</select>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<th>상세 설명</th>
					<td colspan="3">
						<textarea class="form-control" aria-label="With textarea" placeholder="상세 설명을 입력하세요."></textarea>
					</td>
				</tr>
			</table>
			<div class="d-flex justify-content-end mt-5 mb-1 mr-2">
				<div class="btn btn-dark btn-sm mr-2" onclick="addColorSize()">추가</div>
				<div class="btn btn-outline-dark btn-sm" onclick="deleteColorSize()">삭제</div>
			</div>
			<table class="table table-bordered text-center" style="font-size: 14px;">
				<tr>
					<th class="col-2" scope="col">색상 코드</th>
					<th scope="col">이미지1</th>
					<th scope="col">이미지2</th>
					<th scope="col">이미지3</th>
					<th scope="col">컬러 이미지</th>
					<th scope="col">코디한 상품</th>
					<th class="col-1" scope="col">사이즈</th>
					<th class="col-1" scope="col">재고</th>
				</tr>
				<!-- 반복해야 할 부분 -->
				<tbody id="tbody">
					<tr id="tr0">
						<td>
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text"/>
							</div>
						</td>
						<td >
							<!--  <img style="width: 100px;" src="http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KSC104W_OW_W01.jpg/dims/resize/684x1032/">-->
							<div class="d-flex input-group input-group-sm pa-0">
								<input class="form-control input-sm" type="text"/>
							</div>
							<a class="btn btn-dark btn-sm">적용</a>
						</td>
						<td >
							<!--<img style="width: 100px;" src="http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KSC104W_OW_W02.jpg/dims/resize/684x1032/">-->
							<div class="d-flex input-group input-group-sm pa-0">
								<input class="form-control input-sm" type="text"/>
							</div>
							<a class="btn btn-dark btn-sm">적용</a>
						</td>
						<td >
							<!--<img style="width: 100px;" src="http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KSC104W_OW_W03.jpg/dims/resize/684x1032/">-->
							<div class="d-flex input-group input-group-sm pa-0">
								<input class="form-control input-sm" type="text"/>
							</div>
							<a class="btn btn-dark btn-sm">적용</a>
						</td>
						<td >
							<!--<img style="width: 20px; height: 20px" src="http://newmedia.thehandsome.com/CM/2B/SS/CM2B0KSC104W_OW_C01.jpg">-->
							<div class="d-flex input-group input-group-sm pa-0">
								<input class="form-control input-sm" type="text"/>
							</div>
							<a class="btn btn-dark btn-sm">적용</a>
						</td>
						<td>
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text"/>
							</div>
						</td>
						<td>
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text"/>
							</div>
						</td>
						<td>
							<div class="input-group input-group-sm">
								<input class="form-control input-sm" type="text" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<script>
				let idx = 0;
				function addColorSize(){
					idx++;
					var template = '<tr id=tr'+ idx +'>';
					template += '<td>';
					template += '	<div class="input-group input-group-sm">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="d-flex input-group input-group-sm pa-0">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '	<a class="btn btn-dark btn-sm">적용</a>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="d-flex input-group input-group-sm pa-0">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '	<a class="btn btn-dark btn-sm">적용</a>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="d-flex input-group input-group-sm pa-0">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '	<a class="btn btn-dark btn-sm">적용</a>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="d-flex input-group input-group-sm pa-0">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '	<a class="btn btn-dark btn-sm">적용</a>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="input-group input-group-sm">';
					template += '		<input class="form-control input-sm" type="text"/>';
					template += '	</div>';
					template += '</td>';
					template += '<td>';
					template += '	<div class="input-group input-group-sm">';
					template += '		<input class="form-control input-sm" type="text" />';
					template += '	</div>';
					template += '</td>';
					template += '</tr>';
					$('#tbody').append(template);
					
				}
				function deleteColorSize(){
					var removeItem = '#tr'+idx;
					if(idx>0){
						$(removeItem).remove();
						idx--;
					}
				}
			</script>
			<div class="d-flex justify-content-center mt-3 mb-4">
				<a class="btn btn-outline-primary btn-sm mr-5" th:href="@{/}">취소</a>
				<a th:href="@{/product/detail}" class="btn btn-primary btn-sm">저장</a>
			</div>
		</div>
	</th:block>
</th:block>
</html>