<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<h5 class="mb-3 text-gray-800">상품 검색</h5>
		</div>
		<!-- 상품 검색 -->
		<div class="card shadow mb-4">
			<div class="card-body table-responsive" style="padding-top: 0px; padding-bottom: 0px;">
				<form name="search-form" id="search-form" action="search" autocomplete="off">
					<table class="table table-borderless mt-2" style="font-size:14px;">
						<tr>
							<td class="col-1">검색</td>
							<td class="input-group">
								<div class="input-group-prepend">
									<select class="form-control form-control-sm" name="type">
										<option value="" selected>검색 분류</option>
										<option value="pname">상품명</option>
										<option value="pid">상품 코드</option>
										<option value="bname">브랜드</option>
									</select>
								</div>
								<input type="text" name="keyword" class="form-control form-control-sm" />
							</td>
						</tr>
						<tr>
							<td scope="row">카테고리</td>
							<td class="input-group input-group-sm">
								<div class="input-group input-group-sm">
									<select class="custom-select">
										<option value="" selected>대분류</option>
										<option value="1">상품명</option>
										<option value="2">상품 코드</option>
										<option value="3">주문자 아이디</option>
									</select>
									<select class="custom-select" id="inputGroupSelect04">
										<option value="" selected>중분류</option>
									</select>
									<select class="custom-select" id="inputGroupSelect04">
										<option value="" selected>소분류</option>
									</select>
								</div>
							</td>
						</tr>
					</table>
					<div class="d-flex justify-content-center">
						<button class="btn btn-sm text-white mb-2" style="background-color: #2D3134" onclick="getSearchList()">검색</button>
					</div>
				</form>
				<script th:inline="javascript">
					function getSearchList(){
						$('#search-form').submit();
						/* $.ajax({
							type : 'GET',
							url : "http:/localhost:82/product/getSearchList?type=",
							success : function(result){
								console.log(result);
								 //기존 테이블 초기화 
								//$('#producttable > tbody').empty();
								//if(result.length>=1){
									
								//} 
							}
						})  */
					}
				</script>
			</div>
		</div>
		<!-- 상품 목록 -->
		<div>
			<h5 class="mb-3 text-gray-800">상품 목록</h5>
		</div>
		<div class="card-body shadow mb-4">
			<div class="table-responsive">
				<table class="table table-hover table-bordered mb-0 text-center" id="producttable" style="font-size:14px;">
					<thead>
						<tr>
							<th class="col-1">상품 번호</th>
							<th>대분류</th>
							<th>중분류</th>
							<th>소분류</th>
							<th class="col-2">브랜드</th>
							<th class="col-2">상품 코드</th>
							<th class="col-3">상품명</th>
							<th class="col-2">상품 가격</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${products}" th:onclick="'location.href=\'' + @{/product/detail(pid=${product.pid})} + '\''">
							<td>[[${product.pno}]]</td>
							<td>[[${product.clarge}]]</td>
							<td>[[${product.cmedium}]]</td>
							<td>[[${product.csmall}]]</td>
							<td>[[${product.bname}]]</td>
							<td>[[${product.pid}]]</td>
							<td>[[${product.pname}]]</td>
							<td>[[${#numbers.formatInteger(product.pprice, 3, 'COMMA')}]]원</td>
						</tr>
						
						<tr>
							<td colspan="8">
							  <ul class="pagination justify-content-center mb-1 mt-1">
							  	<li class="page-item">
							  		<a class="page-link" th:href="@{/product/list(pageNo=1)}">처음</a>
							  	</li>
							    <li class="page-item" th:if="${pager.groupNo>1}">
							      <a th:href="@{/product/list(pageNo=${pager.startPageNo-1})}" class="page-link">이전</a>
							    </li>
							    <th:block th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
							    	<li class="page-item">
										<a th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'" th:href="@{/product/list(pageNo=${i})}">[[${i}]]</a>
									</li>
								</th:block>
							    <li class="page-item" th:if="${pager.groupNo<pager.totalGroupNo}">
							      <a th:href="@{/product/list(pageNo=${pager.endPageNo+1})}" class="page-link">이후</a>
							    </li>
							  	<li class="page-item">
							  		<a class="page-link" th:href="@{/product/list(pageNo=${pager.totalPageNo})}">마지막</a>
							  	</li>
							  </ul>
							</td>	
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
</th:block>
</html>