<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div style="margin: 50px;">
			<h4 class="font-weight-bolder mb-2" style="margin-bottom: 100px;">주문
				상세</h4>

			<div class="card rounded border">
				<h5 class="font-weight-bolder m-2" style="margin-bottom: 100px;">주문
					정보</h5>
				<div class="card-body">
					<table class="table table-bordered" style="font-size: 14px;">
						<tr>
							<th style="background-color: #eeeeee" class="col-3 text-center">주문번호</th>
							<td class="col-3">[[${orderlist.oid}]]</td>
							<th style="background-color: #eeeeee" class="col-3 text-center">주문
								상태</th>
							<td class="col-3" th:if="${orderlist.ostatus==0}">결제승인</td>
							<td class="col-3" th:if="${orderlist.ostatus==1}">결제</td>
							<td class="col-3" th:if="${orderlist.ostatus==2}">배송</td>
							<td class="col-3" th:if="${orderlist.ostatus==3}">배송완료</td>
							<td class="col-3" th:if="${orderlist.ostatus==4}">구매확정</td>

						</tr>
						<tr>
							<th class="text-center" style="background-color: #eeeeee">주문
								날짜</th>
							<td>[[${#dates.format(orderlist.odate, 'yyyy.MM.dd')}]]</td>
							<th class="text-center" style="background-color: #eeeeee">입금
								마감일</th>
							<td>[[${#dates.format(orderlist.oaccountdeadline,
								'yyyy.MM.dd')}]]</td>
						</tr>
						<tr>
							<th class="text-center" style="background-color: #eeeeee">할인금액</th>
							<td>[[${#numbers.formatInteger(orderlist.odiscounted, 3,
								'COMMA')}]] ￦</td>
							<th class="text-center" style="background-color: #eeeeee">총
								결제금액</th>
							<td>[[${#numbers.formatInteger(orderlist.ototal, 3,
								'COMMA')}]] ￦</td>
						</tr>
						<tr>
							<th class="text-center" style="background-color: #eeeeee">결제
								수단</th>
							<td colspan="3" th:if="${orderlist.opayment==0}">신용카드</td>
							<td colspan="3" th:if="${orderlist.opayment==1}">가상계좌</td>
						</tr>
					</table>

					<table class="table table-bordered" style="font-size: 14px;">
						<tr>
							<th style="background-color: #eeeeee" class="col-3 text-center"
								scope="col">수령인</th>
							<td scope="col" class="col-3">[[${orderlist.oreceiver}]]</td>
							<th style="background-color: #eeeeee" class="col-3 text-center"
								scope="col">주문자 아이디</th>
							<td scope="col" class="col-3"><a th:href="@{/member/detail(mid=${orderlist.mid})}">[[${orderlist.mid}]]</a></td>
						</tr>
						<tr>
							<th style="background-color: #eeeeee" class="text-center"
								scope="col">수령인 번호</th>
							<td scope="col">[[${orderlist.otel}]]</td>
							<th style="background-color: #eeeeee" class="text-center"
								scope="col">우편번호</th>
							<td scope="col">[[${orderlist.ozipcode}]]</td>
						</tr>
						<tr>

							<th style="background-color: #eeeeee" class="col-2 text-center"
								scope="col">주소</th>
							<td scope="col" colspan="3">[[${orderlist.oaddress1}]]
								[[${orderlist.oaddress2}]]</td>
						</tr>
						<tr>
							<th class="text-center" style="background-color: #eeeeee">마일리지
								사용</th>
							<td th:if="${orderlist.ousedmileage != 0}">[[${orderlist.ousedmileage}]]P</td>
							<td th:if="${orderlist.ousedmileage == 0}">미사용</td>
							<th class="text-center" style="background-color: #eeeeee">쿠폰
								사용</th>
							<td th:if="${orderlist.ousedcoupon != 0}">[[${orderlist.ousedcoupon}]]</td>
							<td th:if="${orderlist.ousedcoupon == 0}">미사용</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="card rounded my-4">
				<h5 class="font-weight-bolder m-2" style="margin-bottom: 100px;">주문
					상품 정보</h5>

				<div class="card-body">
					<table
						class="table table-sm table-bordered table-dark text-white mx-auto">
						<tr style="width: 100%;">
							<th class="text-center">제품 번호</th>
							<th class="text-center">컬러 코드</th>
							<th class="text-center">사이즈</th>
							<th class="text-center">수량</th>
						</tr>

						<tr class="bg-light text-dark" style="width: 100%;"
							th:each="item : ${orderitems}">
							<td class="text-center">[[${item.pid}]]</td>
							<td class="text-center">[[${item.ccolorcode}]]</td>
							<td class="text-center">[[${item.psize}]]</td>
							<td class="text-center">[[${item.oamount}]]</td>
						</tr>
					</table>
				</div>
			</div>

			<a class="btn btn-primary" th:href="@{/order/orderlist/1}">목록으로</a>
		</div>
	</th:block>
</th:block>

</html>
