<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<script th:inline="javascript">
			$(window).ready(function() {

			})
		</script>

		<div>
			<div>
				<h5 class="mb-3 text-gray-800">주문 검색</h5>
			</div>
			<div class="my-4 p-4 rounded bg-gray-300 border border-dark">
				<form class="container">
					<div class="row">
						<label class="col-1 font-weight-bolder">검색</label>
						<div class="col-11">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<select class="custom-select" id="inputGroupSelect04"
										aria-label="Example select with button addon">
										<option selected>주문 번호</option>
										<option value="1">수령인 이름</option>
										<option value="2">주문자 아이디</option>
									</select>
								</div>
								<input type="text" class="form-control"
									aria-label="Text input with segmented dropdown button">
							</div>
						</div>
						<label class="col-1 font-weight-bolder">기간</label>
						<div class="col-10">
							<input type="date" /> &nbsp;-&nbsp; <input type="date" />
						</div>

						<div class="col-11"></div>
						<div class="col-1">
							<button class="btn text-white" style="background-color: #2D3134"
								type="submit">검색</button>
						</div>
					</div>
				</form>
			</div>

			<div>
				<h5 class="mb-3 text-gray-800">주문 목록</h5>
			</div>
			<div class="card-body shadow mb-2" style="font-size: 0.75rem">
				<div class="table-responsive">
					<table class="table table-hover table-bordered mb-0 text-center">
						<thead>
							<tr>
								<th class="col-2">주문번호</th>
								<th class="col-2">주문자</th>
								<th class="col-2">주문상태</th>
								<th class="col-2">상품개수</th>
								<th class="col-2">결제금액</th>
								<th class="col-2">주문일자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order, status : ${orderLists}" class="text-center"
								th:onclick="'location.href=\'' + @{/order/orderdetail/{oid}(oid=${order.oid})} + '\''">
								<td>[[${order.oid}]]</td>
								<td>[[${order.mid}]]</td>
								<td th:if="${order.ostatus==0}">결제승인</td>
								<td th:if="${order.ostatus==1}">결제</td>
								<td th:if="${order.ostatus==2}">배송</td>
								<td th:if="${order.ostatus==3}">배송완료</td>
								<td th:if="${order.ostatus==4}">구매확정</td>
								<td>[[${order.countitem}]]</td>
								<td>[[${#numbers.formatInteger(order.ototal, 3,
									'COMMA')}]]￦</td>
								<td>[[${#dates.format(order.odate,'yyyy.MM.dd')}]]</td>
							</tr>
						</tbody>
					</table>

					<nav aria-label="Page navigation example" class="mt-4">
						<ul class="pagination justify-content-center">
							<li class="page-item"><a th:href="@{/order/orderlist/1}"
								class="page-link">처음</a></li>

							<th:block
								th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
								<li class="page-item"><a class="page-link"
									th:href="@{/order/orderlist/{pageNo}(pageNo=${i})}">[[${i}]]</a></li>
							</th:block>

							<li class="page-item"><a class="page-link"
								th:href="@{/order/orderlist/{pageNo}(pageNo=${pager.totalPageNo})}">마지막</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

</html>

