<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<script th:inline="javascript">
			$(window).ready(function() {

			})
		</script>

		<div>
			<div>
				<h5 class="mb-3 text-gray-800">주문 검색</h5>
			</div>
			<div class="card shadow mb-4">
				<div class="card-body table-responsive">
					<form name="search-form" id="search-form" action="/admin/order/search"
						autocomplete="off">
						<table class="table table-bordered mt-2"
							style="font-size: 0.75rem;">
							<tr class="table-borderless">
								<td class="col-2 text-center align-middle"
									style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">검색</td>
								<td class="input-group text-center">
									<div class="input-group-prepend">
										<select class="form-control form-control-sm" name="type"
											style="font-size: 0.75rem;">
											<th:block th:if="${#strings.isEmpty(type)}">
												<option value="" selected>검색 분류</option>
												<option value="mid">주문자 아이디</option>
												<option value="oreceiver">수령인 이름</option>
											</th:block>
											<th:block th:if="${not #strings.isEmpty(type)}">
												<option value="">검색 분류</option>
												<option value="mid" th:selected="${type}=='mid'">주문자
													아이디</option>
												<option value="oreceiver" th:selected="${type}=='oreceiver'">수령인
													이름</option>
											</th:block>
										</select>
									</div> <input type="text" name="keyword" style="font-size: 0.75rem;"
									class="form-control form-control-sm"
									th:value="${keyword != null}? ${keyword}:''" />
								</td>
							</tr>
							<tr class="table-borderless">
								<td class=" text-center align-middle"
									style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">기간</td>
								<td class="input-group input-group-sm text-center align-middle">
									<div class="input-group input-group-sm align-middle">
										<th:block th:if="${#strings.isEmpty(startdate)}">
											<div
												class="md-form md-outline input-with-post-icon datepicker mr-3">
												<input type="date" name="startdate"
													class="form-control form-control-sm"
													style="font-size: 0.75rem;">
											</div>
											<span>~</span>
											<div
												class="md-form md-outline input-with-post-icon datepicker ml-3">
												<input type="date" name="enddate"
													class="form-control form-control-sm"
													style="font-size: 0.75rem;">
											</div>
										</th:block>
										<th:block
											th:if="${not #strings.isEmpty(startdate)} and ${not #strings.isEmpty(enddate)}">
											<div
												class="md-form md-outline input-with-post-icon datepicker mr-3">
												<input type="date" name="startdate" th:value="${startdate}"
													class="form-control form-control-sm"
													style="font-size: 0.75rem;">
											</div>
											<span class="align-middle">~</span>
											<div
												class="md-form md-outline input-with-post-icon datepicker ml-3">
												<input type="date" name="enddate" th:value="${enddate}"
													class="form-control form-control-sm"
													style="font-size: 0.75rem;">
											</div>
										</th:block>
									</div>
								</td>
							</tr>
						</table>
						<div class="d-flex justify-content-center">
							<button class="btn btn-sm text-white mb-2"
								style="background-color: #2D3134; font-size: 0.75rem;"
								onclick="getSearchList()">검색</button>
						</div>
					</form>
					<script th:inline="javascript">
						function getSearchList() {
							$('#search-form').submit();
						}
					</script>
				</div>
			</div>
			<div>
				<h5 class="mb-3 text-gray-800">주문 목록</h5>
			</div>
			<div class="card shadow mb-2" style="font-size: 0.75rem">
				<div class="card-body table-responsive">
					<table class="table table-hover table-bordered mb-0 text-center">
						<thead>
							<tr>
								<th style="background-color: #eeeeee" class="col-2">주문번호</th>
								<th style="background-color: #eeeeee" class="col-2">주문자</th>
								<th style="background-color: #eeeeee" class="col-2">주문상태</th>
								<th style="background-color: #eeeeee" class="col-2">상품개수</th>
								<th style="background-color: #eeeeee" class="col-2">결제금액</th>
								<th style="background-color: #eeeeee" class="col-2">주문일자</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="order, status : ${orderLists}" class="text-center"
								th:onclick="'location.href=\'' + @{/admin/order/orderdetail/{oid}(oid=${order.oid})} + '\''">
								<td>[[${order.oid}]]</td>
								<td>[[${order.mid}]]</td>
								<td th:if="${order.ostatus==0}">결제승인</td>
								<td th:if="${order.ostatus==1}">결제</td>
								<td th:if="${order.ostatus==2}">배송</td>
								<td th:if="${order.ostatus==3}">배송완료</td>
								<td th:if="${order.ostatus==4}">구매확정</td>
								<td th:if="${order.ostatus==5}">주문취소</td>
								<td>[[${order.countitem}]]</td>
								<td>[[${#numbers.formatInteger(order.ototal, 3,
									'COMMA')}]]￦</td>
								<td>[[${#dates.format(order.odate,'yyyy.MM.dd')}]]</td>
							</tr>
						</tbody>
					</table>

					<nav aria-label="Page navigation example" class="mt-4">
						<ul class="pagination justify-content-center align-items-center">
							<th:block
								th:if="${#strings.isEmpty(keyword)} and ${#strings.isEmpty(startdate)} and ${#strings.isEmpty(enddate)}">
								<li class="page-item"><a th:href="@{/admin/order/orderlist/1}"
									style="font-size: 0.75rem;" class="page-link">처음</a></li>
								<li class="page-item" th:if="${pager.groupNo>1}"><a
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/orderlist/{pageNo}(pageNo=${pager.startPageNo-1})}"
									class="page-link">이전</a></li>
								<th:block
									th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
									<li class="page-item"><a
										th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'"
										style="font-size: 0.75rem;"
										th:href="@{/admin/order/orderlist/{pageNo}(pageNo=${i})}">[[${i}]]</a></li>
								</th:block>
								<li class="page-item"
									th:if="${pager.groupNo<pager.totalGroupNo}"><a
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/orderlist/{pageNo}(pageNo=${pager.endPageNo+1})}"
									class="page-link">이후</a></li>
								<li class="page-item"><a class="page-link"
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/orderlist/{pageNo}(pageNo=${pager.totalPageNo})}">마지막</a></li>
							</th:block>

							<th:block
								th:if="${not #strings.isEmpty(keyword)} or ${not #strings.isEmpty(startdate)} or ${not #strings.isEmpty(enddate)} ">
								<li class="page-item"><a class="page-link"
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/search(type=${type},keyword=${keyword},pageNo=1,startdate=${startdate},enddate=${enddate})}">처음</a>
								</li>
								<li class="page-item" th:if="${pager.groupNo>1}"><a
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/search(type=${type},keyword=${keyword},pageNo=${pager.startPageNo-1},startdate=${startdate},enddate=${enddate})}"
									class="page-link">이전</a></li>
								<th:block
									th:each="i : ${#numbers.sequence(pager.startPageNo, pager.endPageNo)}">
									<li class="page-item"><a style="font-size: 0.75rem;"
										th:classappend="(${pager.pageNo != i})?'page-link':'btn btn-primary'"
										th:href="@{/admin/order/search(type=${type},keyword=${keyword},pageNo=${i},startdate=${startdate},enddate=${enddate})}">[[${i}]]</a>
									</li>
								</th:block>
								<li class="page-item"
									th:if="${pager.groupNo<pager.totalGroupNo}"><a
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/search(type=${type},keyword=${keyword}, pageNo=${pager.endPageNo+1},startdate=${startdate},enddate=${enddate})}"
									class="page-link">이후</a></li>
								<li class="page-item"><a class="page-link"
									style="font-size: 0.75rem;"
									th:href="@{/admin/order/search(type=${type},keyword=${keyword}, pageNo=${pager.totalPageNo},startdate=${startdate},enddate=${enddate})}">마지막</a>
								</li>
							</th:block>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</th:block>
</th:block>

</html>

