<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<script th:inline="javascript">
			function makeCreate() {
				let startString = $("#estartdate").val();
				let yy = startString.substr(0, 4);
				let MM = startString.substr(5, 2);
				let dd = startString.substr(8, 2);
				$("input[name=estartdate]").val(new Date(yy, MM - 1, dd));

				let endString = $("#eenddate").val();
				yy = endString.substr(0, 4);
				MM = endString.substr(5, 2);
				dd = endString.substr(8, 2);
				$("input[name=eenddate]").val(new Date(yy, MM - 1, dd));

				console.log(startDate);
				console.log(endDate);
				$("#eventCreateForm").submit();
			}
		</script>

		<div>
			<h5 class="mb-3 text-gray-800">이벤트 추가</h5>
		</div>
		<div class="card shadow mb-4 text-center">
			<div class="card-body table-responsive">
				<form id="eventCreateForm" method="post"
					th:action="@{/admin/event/create}" th:object="${event}">
					<table class="table table-bordered" style="font-size: 0.75rem;">
						<tr>
							<th class="col-2 align-middle" scope="col"
								style="background-color: #eeeeee">이벤트 아이디</th>
							<td scope="col"><input type="number" name="eid"
								style="font-size: 0.75rem" class="form-control" /></td>
							<th class="col-2 align-middle" scope="col"
								style="background-color: #eeeeee">이벤트 이름</th>
							<td scope="col"><input type="text" name="ename"
								style="font-size: 0.75rem" class="form-control" /></td>
						</tr>
						<tr>
							<th class=" align-middle" style="background-color: #eeeeee">이벤트
								시작일</th>
							<td><input type="date" id="estartdate" class="form-control"
								style="font-size: 0.75rem" /> <input type="hidden"
								name="estartdate" class="form-control"
								style="font-size: 0.75rem" /></td>
							<th class=" align-middle" style="background-color: #eeeeee">이벤트
								종료일</th>
							<td><input type="date" id="eenddate" class="form-control"
								style="font-size: 0.75rem" /> <input type="hidden"
								name="eenddate" class="form-control" style="font-size: 0.75rem" /></td>
						</tr>
						<tr>
							<th class=" align-middle" style="background-color: #eeeeee">남은
								수량</th>
							<td><input type="number" name="eamount" class="form-control"
								style="font-size: 0.75rem" /></td>
							<th class=" align-middle" style="background-color: #eeeeee">제한
								인원</th>
							<td><input type="number" name="elimit" class="form-control"
								style="font-size: 0.75rem" /></td>
						</tr>
					</table>

					<table class="table table-bordered text-center"
						style="font-size: 0.75rem;">
						<tr>
							<th class="col-6 align-middle" scope="col"
								style="background-color: #eeeeee">쿠폰 이미지</th>
							<th class="col-6 align-middle" style="background-color: #eeeeee">이벤트
								정보</th>
						</tr>
						<tr>
							<td class="align-middle"><input type="text" name="eimage"
								class="form-control" style="font-size: 0.75rem" /></td>
							<td><textarea name="edetail" class="form-control"
									style="font-size: 0.75rem"></textarea></td>
						</tr>
					</table>
					<div class="d-flex justify-content-center mt-3 mb-4">
						<button onclick="makeCreate()" class="btn btn-dark btn-sm"
							style="font-size: 0.75rem">추가</button>
					</div>
				</form>
			</div>
		</div>
	</th:block>
</th:block>
</html>