<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div>
				<h5 class="mb-3 text-gray-800">회원 등급 관리</h5>
			</div>
			<div class="card-body shadow mb-4" style="font-size: 0.75rem">
				<div class="table-responsive">
					<table class="table table-hover table-bordered mb-3 text-center">
						<thead>
							<tr>
								<th scope="col">No.</th>
								<th scope="col">등급명</th>
								<th scope="col">등급 기준</th>
								<th scope="col">등급 혜택(할인율)</th>
								<th scope="col">수정</th>
								<th scope="col">삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:id="'grade-table-row' + ${status.count}"
								th:each="grade, status: ${grades}">
								<th scope="row" class="align-middle">[[${status.count}]]</th>
								<td class="align-middle" th:id="|gradeName${status.count}|">[[${grade.gname}]]</td>
								<td class="align-middle" th:id="|gradeMax${status.count}|">결제
									금액 [[${#numbers.formatInteger(grade.gmax, 3, 'COMMA')}]]원 미만</td>
								<td class="align-middle" th:id="|gradeSale${status.count}|">[[${grade.gsale}]]%</td>
								<td><button style="font-size: 0.75rem" class="btn btn-outline-primary btn-sm"
										th:onclick="|changeUpdateForm(${grade.gmax}, ${grade.gsale}, ${status.count})|">수정</button></td>
								<td><a style="font-size: 0.75rem"
									th:href="@{/member/grade/delete(gmax=${grade.gmax})}"
									class="btn btn-outline-danger btn-sm">삭제</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<script>
					function changeUpdateForm(gmax, gsale, id) {
						let th_id = '#grade-table-row' + id;
						let gname = $(`#gradeName${id}`)[0].innerHTML;

						let tmp = "";
						tmp += "<th scope='row'>" + id + "</th>";
						tmp += "<td><input name='gname' type='text' class='form-control' id='inputGradeName" + id + "' value='" + gname + "'/></td>";
						tmp += "<td><input name='gmax' type='number' class='form-control' id='inputGradeMax" + id + "' value='" + gmax + "'/></td>";
						tmp += "<td><input name='gsale' type='number' class='form-control' id='inputGradeSale" + id + "' value='" + gsale + "'/></td>";
						tmp += `<td><button class='btn btn-outline-primary btn-sm' onclick='submitUpdate(${gmax}, ${id})'>확인</button></td>`;
						tmp += `<td><a class='btn btn-outline-success btn-sm' onclick='changeReadForm("${gname}", ${gmax}, ${gsale}, ${id})'>취소</a></td>`;

						$(th_id).html(tmp);
					}

					function changeReadForm(gname, gmax, gsale, id) {
						let th_id = '#grade-table-row' + id;

						let tmp = "";
						tmp += `<th scope="row">${id}</th>`;
						tmp += `<td id="gradeName${id}">${gname}</td>`;
						tmp += `<td id="gradeMax${id}">결제 금액 ${gmax.toLocaleString()}원 미만</td>`;
						tmp += `<td id="gradeSale${id}">${gsale}%</td>`;
						tmp += `<td><button class="btn btn-outline-primary btn-sm" onclick="changeUpdateForm(${gmax}, ${gsale}, ${id})">수정</button></td>`;
						tmp += `<td><a href="/member/grade/delete?gmax=${gmax}" class="btn btn-outline-danger btn-sm">삭제</a></td>`;

						$(th_id).html(tmp);
					}

					function submitUpdate(gmax, id) {
						let changeGname = $(`#inputGradeName${id}`).val();
						let changeGmax = $(`#inputGradeMax${id}`).val();
						let changeGsale = $(`#inputGradeSale${id}`).val();

						let params = {
							'gname' : changeGname,
							'gmax' : changeGmax,
							'gsale' : changeGsale,
						};

						let url = `grade/update?beforegmax=${gmax}`;

						let form = document.createElement('form');
						form.setAttribute('method', 'post');
						form.setAttribute('action', url);
						document.charset = "utf-8";

						for ( let key in params) {
							let hiddenField = document.createElement('input');
							hiddenField.setAttribute('type', 'hidden');
							hiddenField.setAttribute('name', key);
							hiddenField.setAttribute('value', params[key]);
							form.appendChild(hiddenField);
						}

						document.body.appendChild(form);
						form.submit();
					}
				</script>
				<div>
					<button style="font-size: 0.75rem" class="btn btn-outline-success btn-sm" type="button"
						data-toggle="collapse" data-target="#collapseAddGrade"
						aria-expanded="false" aria-controls="collapseAddGrade">등급
						추가</button>
					<a style="font-size: 0.75rem" href="grade/apply" class="btn btn-outline-success btn-sm">등급
						부여</a>
				</div>
				<div class="mt-3">
					<div class="collapse" id="collapseAddGrade">
						<div class="card card-body">
							<form method="post" action="grade/create"
								enctype="multipart/form-data">
								<div class="form-row">
									<div class="form-group col-md-3">
										<label for="inputGradeName">등급명</label> <input name="gname"
											type="text" class="form-control" id="inputGradeName"
											aria-describedby="helpGradeName"> <small
											id="helpGradeName" class="form-text text-muted">등급명을
											입력하세요.</small>
									</div>
									<div class="col-md-1"></div>
									<div class="form-group col-md-3">
										<label for="inputMaxCash">최대금액</label> <input name="gmax"
											type="number" class="form-control" id="inputMaxCash"
											aria-describedby="helpMaxCash"> <small
											id="helpMaxCash" class="form-text text-muted">등급은
											최대금액 미만으로 산정됩니다.</small>
									</div>
									<div class="col-md-1"></div>
									<div class="form-group col-md-3">
										<label for="inputSale">할인율</label> <input name="gsale"
											type="number" class="form-control" id="inputSale"
											aria-describedby="helpSale"> <small id="helpSale"
											class="form-text text-muted">해당 등급에게 적용되는 할인율입니다.</small>
									</div>
								</div>
								<button type="submit" class="btn btn-outline-primary btn-sm" style="font-size: 0.75rem">저장</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>