<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div>
				<h5 class="mb-3 text-gray-800">회원 등급 관리</h5>
			</div>
			<div class="card shadow mb-4" style="font-size: 0.75rem;">
				<div class="card-body table-responsive">
					<table class="table table-hover table-bordered text-center">
						<thead>
							<tr>
								<th scope="col" class="col-1" style="background-color: #eeeeee">No.</th>
								<th scope="col" class="col-2" style="background-color: #eeeeee">등급명</th>
								<th scope="col" class="col-5" style="background-color: #eeeeee">등급
									기준</th>
								<th scope="col" class="col-2" style="background-color: #eeeeee">등급
									혜택(할인율)</th>
								<th scope="col" class="col-1" style="background-color: #eeeeee">수정</th>
								<th scope="col" class="col-1" style="background-color: #eeeeee">삭제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:id="'grade-table-row' + ${status.count}"
								th:each="grade, status: ${grades}">
								<th scope="row" class="align-middle">[[${status.count}]]</th>
								<td class="align-middle" th:id="|gradeName${status.count}|">[[${grade.gname}]]</td>
								<td class="align-middle" th:id="|gradeMax${status.count}|">결제
									금액 [[${#numbers.formatInteger(grade.gmax, 3, 'COMMA')}]]원 미만</td>
								<td class="align-middle" th:id="|gradeSale${status.count}|">[[${grade.gsale}]]%</td>
								<td><button style="font-size: 0.75rem"
										class="btn btn-outline-dark btn-sm"
										th:onclick="|changeUpdateForm(${grade.gmax}, ${grade.gsale}, ${status.count})|">수정</button></td>
								<td><a style="font-size: 0.75rem"
									th:href="@{/member/grade/delete(gmax=${grade.gmax})}"
									class="btn btn-outline-danger btn-sm">삭제</a></td>
							</tr>
						</tbody>
					</table>
					<div>
						<button style="font-size: 0.75rem"
							class="btn btn-dark btn-sm mr-1" type="button"
							data-toggle="collapse" data-target="#collapseAddGrade"
							aria-expanded="false" aria-controls="collapseAddGrade">등급
							추가</button>
						<a style="font-size: 0.75rem" href="grade/apply"
							class="btn btn-dark btn-sm">등급 부여</a>
					</div>
				</div>
				<script>
					function changeUpdateForm(gmax, gsale, id) {
						let th_id = '#grade-table-row' + id;
						let gname = $(`#gradeName${id}`)[0].innerHTML;

						let tmp = "";
						tmp += "<th class='align-middle' scope='row'>" + id
								+ "</th>";
						tmp += "<td class='align-middle'><input style='font-size:0.75rem' name='gname' type='text' class='form-control' id='inputGradeName" + id + "' value='" + gname + "'/></td>";
						tmp += "<td class='align-middle'><input style='font-size:0.75rem' name='gmax' type='number' class='form-control' id='inputGradeMax" + id + "' value='" + gmax + "'/></td>";
						tmp += "<td class='align-middle'><input style='font-size:0.75rem' name='gsale' type='number' class='form-control' id='inputGradeSale" + id + "' value='" + gsale + "'/></td>";
						tmp += `<td class='align-middle'><button style='font-size:0.75rem' class='btn btn-outline-primary btn-sm' onclick='submitUpdate(${gmax}, ${id})'>확인</button></td>`;
						tmp += `<td class='align-middle'><a style='font-size:0.75rem' class='btn btn-outline-danger btn-sm' onclick='changeReadForm("${gname}", ${gmax}, ${gsale}, ${id})'>취소</a></td>`;

						$(th_id).html(tmp);
					}

					function changeReadForm(gname, gmax, gsale, id) {
						let th_id = '#grade-table-row' + id;

						let tmp = "";
						tmp += `<th class='align-middle' style='font-size:0.75rem' scope="row">${id}</th>`;
						tmp += `<td class='align-middle' style='font-size:0.75rem' id="gradeName${id}">${gname}</td>`;
						tmp += `<td class='align-middle' style='font-size:0.75rem' id="gradeMax${id}">결제 금액 ${gmax.toLocaleString()}원 미만</td>`;
						tmp += `<td class='align-middle' style='font-size:0.75rem' id="gradeSale${id}">${gsale}%</td>`;
						tmp += `<td class='align-middle' style='font-size:0.75rem'><button  style='font-size:0.75rem' class="btn btn-outline-dark btn-sm" onclick="changeUpdateForm(${gmax}, ${gsale}, ${id})">수정</button></td>`;
						tmp += `<td class='align-middle' style='font-size:0.75rem'><a style='font-size:0.75rem' href="/member/grade/delete?gmax=${gmax}" class="btn btn-outline-danger btn-sm">삭제</a></td>`;

						$(th_id).html(tmp);
					}

					function submitUpdate(gmax, id) {
						let changeGname = $(`#inputGradeName${id}`).val();
						let changeGmax = $(`#inputGradeMax${id}`).val();
						let changeGsale = $(`#inputGradeSale${id}`).val();

						let params = {
							'gname' : changeGname,
							'gmax' : changeGmax,
							'gsale' : changeGsale,
						};

						let url = `grade/update?beforegmax=${gmax}`;

						let form = document.createElement('form');
						form.setAttribute('method', 'post');
						form.setAttribute('action', url);
						document.charset = "utf-8";

						for ( let key in params) {
							let hiddenField = document.createElement('input');
							hiddenField.setAttribute('type', 'hidden');
							hiddenField.setAttribute('name', key);
							hiddenField.setAttribute('value', params[key]);
							form.appendChild(hiddenField);
						}

						document.body.appendChild(form);
						form.submit();
					}
				</script>

				<div>
					<div class="collapse" id="collapseAddGrade">
						<div class="card-body">
							<form method="post" action="grade/create"
								enctype="multipart/form-data">
								<table class="table table-bordered mt-2"
									style="font-size: 0.75rem;">
									<tr class="table-borderless">
										<td class="col-1 text-center align-middle"
											style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">등급명</td>
										<td class="input-group text-center"><input name="gname"
											type="text" class="form-control form-control-sm"
											id="inputGradeName" style="font-size: 0.75rem;">
										</td>
										<td class="col-1 text-center align-middle"
											style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">최대금액</td>
										<td class="input-group text-center"><input name="gmax"
											type="number" class="form-control form-control-sm"
											id="inputMaxCash" style="font-size: 0.75rem"></td>
										<td class="col-1 text-center align-middle"
											style="background-color: #eeeeee; border-right: 1px solid #E3E6F0">할인율</td>
										<td class="input-group text-center"><input name="gsale"
											type="number" class="form-control form-control-sm"
											id="inputSale" style="font-size: 0.75rem"></td>
								</table>
								<div class="d-flex justify-content-center">
									<button type="submit" class="btn btn-outline-dark btn-sm"
										style="font-size: 0.75rem">저장</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>