<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div>
			<div class="container-fluid">
				<div class="text-center">
					<div class="error mx-auto" data-text="500">500</div>
					<p class="lead text-gray-800 mb-5">Server Error</p>
					<p class="text-gray-500 mb-0">
						이용에 불편을 드려죄송합니다. 일시적으로 접속되지 않습니다.<br> 잠시 후 다시 시도해주세요
					</p>
					<a class="btn btn-outline-dark mt-2" th:href="@{/}">&larr; 메인
						페이지로</a>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>
