<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<script th:inline="javascript">
		let today = new Date();
		let dateLabel = [];
		let dateOrderData = [];
		let dateOrderDict = {};
		let dateUserData = [];
		let dateUserDict = {};
		let dataMonthLabel = [];
		let dataWomen=[];
		let dataMen=[];
		let dataKids=[];
		let dataLifestyle=[];
		
		for (let i = 13; i >= 0; i--) {
			let d = new Date()
			d.setDate(today.getDate() - i);
			dateLabel.push(`12.${d.getDate()}.`);
			dateOrderDict[`12.${d.getDate()}.`] = 0;
			dateUserDict[`12.${d.getDate()}.`] = 0;
		}
		
		for (let orderPerDay of [[${orderPerDays}]]){
			let d = orderPerDay.oodate.substr(6, 2);
			if (dateOrderDict[`12.${d}.`] !== undefined) {
				dateOrderDict[`12.${d}.`] += orderPerDay.num;
			}
		}
		
		for (let userPerDay of [[${orderPerDayUser}]]){
			let d = userPerDay.oodate.substr(6, 2);
			if (dateUserDict[`12.${d}.`] !== undefined) {
				dateUserDict[`12.${d}.`] += userPerDay.num;
			}
		}
		
		for(let label of dateLabel) {
			dateOrderData.push(dateOrderDict[label]);
			dateUserData.push(dateUserDict[label]);
		}
		
		for(let i=1; i>=-1; i--){
			dataMonthLabel.push(today.getMonth()-i+"월");
			let m = today.getMonth()-i+"";
			dataWomen.push([[${monthTotalPrices}]][m]["WOMEN"]);
			dataMen.push([[${monthTotalPrices}]][m]["MEN"]);
			dataKids.push([[${monthTotalPrices}]][m]["KIDS"]);
			dataLifestyle.push([[${monthTotalPrices}]][m]["LIFESTYLE"]);
		}
		
		</script>

		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">대시보드</h1>
		</div>
		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-6 col-lg-6">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">주문/배송</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="row align-items-center">
							<i
								class="fas fa-truck fa-2x text-gray-500 col-xl-3 col-lg-3 text-center"></i>
							<div class="col-xl-9 col-lg-9">
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">결제</div>
									<div>
										<span style="color: #3AC455; font-weight: bolder">[[${orderState.finPayCount}]]</span> 건
									</div>
								</div>
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">배송</div>
									<div>
										<span style="color: #3AC455; font-weight: bolder">[[${orderState.shippingCount}]]</span> 건
									</div>
								</div>
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">배송완료</div>
									<div>
										<span style="color: #3AC455; font-weight: bolder">[[${orderState.finShippingCount}]]</span> 건
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<div style="color: #1B2430">구매확정</div>
									<div>
										<span style="color: #3AC455; font-weight: bolder">[[${orderState.confirmOrderCount}]]</span> 건
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">총 매출액</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="row align-items-center">
							<i
								class="fas fa-won-sign fa-2x text-gray-500 col-xl-3 col-lg-3 text-center"></i>
							<div class="col-xl-9 col-lg-9">
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">총 매출액</div>
									<div>
										<span style="color: #D390E6; font-weight: bolder">[[${#numbers.formatInteger(totalPrice,
											3, 'COMMA')}]]</span> 원
									</div>
								</div>
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">이번달 매출</div>
									<div>
										<span style="color: #D390E6; font-weight: bolder">[[${#numbers.formatInteger(monthPrice,
											3, 'COMMA')}]]</span> 원
									</div>
								</div>
								<div
									class="d-flex align-items-center justify-content-between mb-1">
									<div style="color: #1B2430">금일 매출</div>
									<div>
										<span style="color: #D390E6; font-weight: bolder">[[${todayPrice
											< 100 ? todayPrice : #numbers.formatInteger(todayPrice, 3,
											'COMMA')}]]</span> 원
									</div>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<div style="color: #1B2430">지급 예정</div>
									<div>
										<span style="color: #D390E6; font-weight: bolder">0</span> 원
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-8 col-lg-8">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">매출 통계</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="graphBox">
							<canvas id="lineCanvas"></canvas>
						</div>
					</div>
					<script type="text/javascript">
						let linecontext = document.getElementById('lineCanvas')
								.getContext('2d');
						let lineChart = new Chart(
								linecontext,
								{
									type : 'line',
									data : {
										labels : dateLabel,
										datasets : [
												{
													label : '결제자수',
													data : dateUserData,
													borderColor : "rgba(255, 99, 132, 1)",
													backgroundColor : "rgba(255, 99, 132, 0.2)",
													fill : true,
													lineTension : 0.35
												},
												{
													label : '결제건수',
													data : dateOrderData,
													borderColor : "rgba(255, 201, 14, 1)",
													backgroundColor : "rgba(255, 201, 14, 0.2)",
													fill : true,
													lineTension : 0.35
												} ]
									},
								});
					</script>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">회원 현황</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div class="graphBox">
							<canvas id="pieCanvas"></canvas>
						</div>
					</div>
					<script type="text/javascript">
						let piecontext = document.getElementById('pieCanvas')
								.getContext('2d');
						let pieChart = new Chart(
								piecontext,
								{
									type : 'pie',
									data : {
										labels : [ '일반', '휴면', '탈퇴' ],
										datasets : [
												{
													data : [ 7, 2, 1 ],
													borderColor : [
															"rgba(28, 200, 138, 1)",
															"rgba(255, 159, 64, 1)",
															"rgba(255, 99, 132, 1)" ],
													backgroundColor : [
															"rgba(28, 200, 138, 0.5)",
															"rgba(255, 159, 64, 0.5)",
															"rgba(255, 99, 132, 0.5)" ],
												}, ]
									},
								});
					</script>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Area Chart -->
			<div class="col-xl-12 col-lg-12">
				<div class="card shadow mb-4">
					<!-- Card Header - Dropdown -->
					<div
						class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 font-weight-bold text-primary">월별 총 매출액</h6>
					</div>
					<!-- Card Body -->
					<div class="card-body">
						<div>
							<div>
								<!--차트가 그려질 부분-->
								<canvas id="barChart"></canvas>
							</div>
							<script type="text/javascript">
								let barcontext = document.getElementById(
										'barChart').getContext('2d');
								let barChart = new Chart(
										barcontext,
										{
											type : 'bar', // 차트의 형태
											data : { // 차트에 들어갈 데이터
												labels : dataMonthLabel, //x 축
												datasets : [
														{ //데이터
															label : '여성', //차트 제목
															fill : false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
															data : dataWomen, //x축 label에 대응되는 데이터 값
															backgroundColor : [
															//색상
															'rgba(255, 99, 132, 0.2)' ],
															borderColor : [
															//경계선 색상
															'rgba(255, 99, 132, 1)' ],
															borderWidth : 2
														},
														{
															label : '남성',
															fill : false,
															data : dataMen,
															backgroundColor : 'rgba(54, 185, 204, 0.2)',
															borderColor : 'rgba(54, 185, 204, 1)',
															borderWidth : 2
														},
														{
															label : '아동',
															fill : false,
															data : dataKids,
															backgroundColor : 'rgba(28, 200, 138, 0.2)',
															borderColor : 'rgba(28, 200, 138, 1)',
															borderWidth : 2
														},
														{
															label : '라이프스타일',
															fill : false,
															data : dataLifestyle,
															backgroundColor : 'rgba(255, 159, 64, 0.2)',
															borderColor : 'rgba(255, 159, 64, 1)',
															borderWidth : 2
														} ]
											},
											options : {
												scales : {
													yAxes : [ {
														ticks : {
															beginAtZero : true
														}
													} ]
												}
											}
										});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>