<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<script>
			var orderObj = {'event' : 0, 'best' : 1 , 'new' : 2};
		
			$(function() {
				let startVal="";
				let endVal="";
				let startN;
				let endN;
				let eventN = orderObj.event;
				let bestN = orderObj.best;
				let newN = orderObj.new;
				
				
				$("#sortable").sortable({
					start: function(event, ui) {
						startN = ui.item.index();

						if(startN === orderObj.event){
							startVal='event';
						}
						if(startN === orderObj.best){
							startVal='best';
						}
						if(startN === orderObj.new){
							startVal='new';
						}
						console.log("start : "+ui.item.index());
			        },
			        update: function(event, ui){
			        	console.log("update : "+ui.item.index());
			        },
			        stop: function(event, ui){
			        	endN = ui.item.index();
			        	
			        	if(endN === orderObj.event){
							endVal='event';
						}
						if(endN === orderObj.best){
							endVal='best';
						}
						if(endN === orderObj.new){
							endVal='new';
						}
			        	
						if(Math.abs(startN-endN) === 2){
							if(endN===0){//endVal:0, 나머지 값 +1
								for(let obj in orderObj){
									if(startVal===obj){
										orderObj[startVal] = 0;
									}else{
										orderObj[obj] += 1;
									}
								}
								
							}else if(endN===2){//endVal:2 나머지 값 -1
								for(let obj in orderObj){
									if(startVal === obj){
										orderObj[startVal] = 2;
									}else{
										orderObj[obj] -= 1;
									}
								}
							}
						}else{
							orderObj[startVal] = endN;
							orderObj[endVal] = startN;
						}
						
			        	console.log("end : "+ui.item.index());
			        }
				});
				$("#sortable").disableSelection();
			});
			
			function testOrder(){
				let eventN = orderObj.event;
				let bestN = orderObj.best;
				let newN = orderObj.new;
				
				console.log(eventN);
				console.log(bestN);
				console.log(newN);
			}
		</script>

		<input type="hidden" id="event" name="event" th:value="0"/>
		<input type="hidden" id="best" name="best" th:value="1"/>
		<input type="hidden" id="new" name="new" th:value="2"/>
		<div class="page-content page-container" id="page-content">
			<h4 class="font-weight-bolder m-4">전시 관리</h4>
			
			<div class="padding">
				<div class=" d-flex justify-content-center mb-2">
					<ul class="list list-group list-group-horizontal card list-unstyled" 
						id="sortable" data-sortable-id="0" aria-dropeffect="move">
						<li class="list-item" data-id="1" draggable="true" role="option" aria-grabbed="false">
							<div class="d-flex flex-column card">
								<div class="card-body">
									<img style="height:250px;" src="https://user-images.githubusercontent.com/55488114/145777063-c003d4ce-41db-41db-b078-cc599650643d.jpg"/>
								</div>
								<div class="card-body">
									<span class="badge badge-pill badge-secondary" style="width:60px; height:25px; font-size:15px;">Event</span>
								</div>
							</div>
						</li>
						<li class="list-item" data-id="2" draggable="true" role="option" aria-grabbed="false">
							<div class="d-flex flex-column card">
								<div class="card-body">
									<img style="height:250px;" src="https://user-images.githubusercontent.com/55488114/145791574-697daa05-e41a-422a-bcf5-65a27f8a7155.jpg"/>
								</div>
								<div class="card-body">
									<span class="badge badge-pill badge-secondary" style="width:60px; height:25px; font-size:15px;">Best</span>
								</div>
							</div>
						</li>
						<li class="list-item" data-id="3" draggable="true" role="option" aria-grabbed="false">
							<div class="d-flex flex-column card">
								<div class="card-body">
									<img style="height:250px;" src="https://user-images.githubusercontent.com/55488114/145791645-34db8b56-e3b2-4969-923a-953594171dd1.jpg"/>
								</div>
								<div class="card-body">
									<span class="badge badge-pill badge-secondary" style="width:60px; height:25px; font-size:15px;">New</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="d-flex flex-row-reverse mr-4">
					<button class="btn btn-sm btn-dark" th:onClick="testOrder()">적용</button>
				</div>
			</div>
			
		</div>

	</th:block>
</th:block>

</html>

