<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
	<th:block th:fragment="content">

		<script>
			//초기 orderObj 세팅
			var orderObj = {'event' : 0, 'best' : 1 , 'new' : 2};
		
			$(function() {
				let startVal="";
				let endVal="";
				let startN;
				let endN;				
				let eventN = Number($('#event').val());
				let bestN = Number($('#best').val());
				let newN = Number($('#new').val());
				
				orderObj.event = eventN;
				orderObj.best = bestN;
				orderObj.new = newN;
				
				console.log("eventN"+eventN);
				console.log("bestN"+bestN);
				console.log("newN"+newN);
				
				$("#sortable").sortable({
					start: function(event, ui) {
						startN = ui.item.index();

						if(startN === orderObj.event){
							startVal='event';
						}
						if(startN === orderObj.best){
							startVal='best';
						}
						if(startN === orderObj.new){
							startVal='new';
						}
						console.log("start : "+ui.item.index());
			        },
			        update: function(event, ui){
			        	console.log("update : "+ui.item.index());
			        },
			        stop: function(event, ui){
			        	endN = ui.item.index();
			        	
			        	if(endN === orderObj.event){
							endVal='event';
						}
						if(endN === orderObj.best){
							endVal='best';
						}
						if(endN === orderObj.new){
							endVal='new';
						}
			        	
						if(Math.abs(startN-endN) === 2){
							if(endN===0){//endVal:0, 나머지 값 +1
								for(let obj in orderObj){
									if(startVal===obj){
										orderObj[startVal] = 0;
									}else{
										orderObj[obj] += 1;
									}
								}
								
							}else if(endN===2){//endVal:2 나머지 값 -1
								for(let obj in orderObj){
									if(startVal === obj){
										orderObj[startVal] = 2;
									}else{
										orderObj[obj] -= 1;
									}
								}
							}
						}else{
							orderObj[startVal] = endN;
							orderObj[endVal] = startN;
						}
						
						$('#event').val(orderObj.event);
						$('#best').val(orderObj.best);
						$('#new').val(orderObj.new);
						
			        	console.log("end : "+ui.item.index());
			        }
				});
				$("#sortable").disableSelection();
			});
			
			function makeOrder(){
				let eventN = orderObj.event;
				let bestN = orderObj.best;
				let newN = orderObj.new;
				
				console.log(eventN);
				console.log(bestN);
				console.log(newN);
				
				$('#exhibitionForm').submit();
			}
			
		</script>

		<div>
			<h5 class="mb-3 text-gray-800">주문 상세</h5>
		</div>
		<div class="page-content page-container" id="page-content">
			<div class="padding">
				<div class=" d-flex justify-content-center mb-2">
					<form id="exhibitionForm" method="post"
						th:action="@{/exhibition/update}" th:object="${exhibitions}">
						<ul
							class="list list-group list-group-horizontal card list-unstyled"
							id="sortable" data-sortable-id="0" aria-dropeffect="move">
							<li th:each="exhibition, status : ${exhibitions}"
								class="list-item" data-id="1" draggable="true" role="option"
								aria-grabbed="false">
								<div class="d-flex flex-column card">
									<div class="card-body">
										<img style="height: 250px;" th:src="${exhibition.eximg}" />
									</div>
									<div class="card-body">
										<span class="badge badge-pill badge-secondary"
											style="width: 60px; height: 25px; font-size: 15px;">[[${exhibition.exid}]]</span>
										<input type="hidden"
											th:name="|exhibitions[${status.index}].exid|"
											th:value="${exhibition.exid}" /> <input type="hidden"
											th:name="|exhibitions[${status.index}].eximg|"
											th:value="${exhibition.eximg}" /> <input type="hidden"
											th:id="${exhibition.exid}"
											th:name="|exhibitions[${status.index}].orderno|"
											th:value="${exhibition.orderno}" />
									</div>
								</div>
							</li>
						</ul>
					</form>
				</div>
				<div class="d-flex flex-row-reverse mr-4">
					<button class="btn btn-sm btn-dark" th:onClick="makeOrder()">적용</button>
				</div>
			</div>

		</div>

	</th:block>
</th:block>

</html>

